<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
<nav th:fragment="navbar" class="navbar navbar-expand-md bg-dark navbar-dark text-light">
    <a href="#" class="navbar-brand"><h3><i class="fas fa-book"></i> </h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNav">
        <ul class="navbar-nav ml-auto">
            <li sec:authorize="isAuthenticated()" class="nav-item"><a th:href="@{/authors}" class="nav-link">Authors</a></li>
            <li sec:authorize="isAuthenticated()" class="nav-item"><a th:href="@{/list-books}" class="nav-link">Books</a></li>
             <li sec:authorize="isAuthenticated()" class="nav-item">
                <a href="javascript: document.logoutForm.submit()" class="nav-link">LogOut</a>
                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input type="submit" hidden value="SignOut">
                </form>
             </li>

            <li sec:authorize="!isAuthenticated()" class="nav-item">
                <a th:href="@{/sign-up}" class="nav-link">Sign Up</a>
            </li>
            <li sec:authorize="!isAuthenticated()" class="nav-item" >
                <a th:href="@{/login}" class="nav-link">Login</a></li>

            <li class="nav-item"><a th:href="@{/home}" class="nav-link">Home</a></li>

        </ul>

    </div>
</nav>
</body>
</html>